
# Created by https://www.gitignore.io/api/vapor

### Vapor ###
Config/secrets

### Vapor Patch ###
Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store

### Public ###
favicon.ico
Public/documents/

### SwiftPM ###
.swiftpm

### User Files ###
Public/themes/*
!Public/themes/default
!Public/themes/pure

### fastlane ###
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

### Dev ###
.vagrant
vendor/bundle
.bundle
.database.yml

# End of https://www.gitignore.io/api/vapor
