
# Created by https://www.gitignore.io/api/vapor

### Vapor ###
Config/secrets

### Vapor Patch ###
Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store

### Public ###
favicon.ico
Public/documents/

### User Files ###
Public/user
Resources/Views/user

### Dev ###
.vagrant
vendor/bundle
.bundle

### Test ###
.test

# End of https://www.gitignore.io/api/vapor
