/* --------------------------
* Common
* --------------------------
*/

html {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #f1f1f1;
  height: 100%;
}

ul {
  margin: 0px;
  -webkit-padding-start: 1rem;
}

ol {
  -webkit-padding-start: 1.5rem;
}

.pure-menu-heading {
  text-transform: none;
}

.pure-button {
  font-size: .9rem;
}

.category-link {
  font-size: .9rem;
  padding: .375rem;
  border-radius: .25rem;
  background-color: #0174DF;
  color: #fff;
}

.tag-link {
  font-size: .9rem;
  padding: .375rem;
  border-radius: .25rem;
  background-color: #DF7401;
  color: #fff;
}

.title-link {
  color: #222222;
}

/* --------------------------
* Menu
* --------------------------
*/

#menu {
  background-color: #222222;
  color: white;
}

#menu {
  margin-left: -240px;
  width: 240px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 8px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

#menu::-webkit-scrollbar {
  display: none;
}

#menu.open-menu {
  margin-left: 0;
}

#menu a {
  text-decoration: none;
  color: #AAAAAA;
}

#menu a:hover {
  background-color: #333333;
}

#menu .pure-menu-heading {
  padding: 0.5em 0.8em;
  font-size: 125%;
  color: #fff;
}

#menu .pure-menu-selected a {
  background-color: #555555;
  color: #fff;
}

#menu-header-site-name {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  white-space: normal;
}

#menu-header-site-description {
  margin-top: .5rem;
  font-size: 0.9rem;
  white-space: normal;
}

#menu-subcontents {
  padding: .5em 1em;
}

#menu-subcontents .menu-subcontents-header {
  margin-bottom: .5rem;
  font-size: 1rem;
}

#menu-subcontents .menu-subcontents-item {
  margin: .125rem 0px;
  font-size: .8125rem;
}

/* --------------------------
* Toggle Menu
* --------------------------
*/

#toggle-menu {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #333333;
  cursor: pointer;
  -webkit-overflow-scrolling: touch;
}

#toggle-menu-container {
  margin: .75rem auto;
}

#toggle-menu span {
  display: block;
  margin: .286rem auto;
  width: 70%;
  height: .143rem;
  background-color: #fff;
}

#toggle-menu.open-menu {
  left: 240px;
}

/* --------------------------
* Content
* --------------------------
*/

#content {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 16px 32px 16px;
  color: #222222;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#content-page-title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.75rem;
}

#content #post-content {
  position: relative;
  margin: -8px -24px -8px;
  padding: 8px 24px 8px;
  max-width: 900px;
  color: #222222;
  background-color: #fff;
}

/* --------------------------
* Post List
* --------------------------
*/

.post-card {
  position: relative;
}

.post-card-container a {
  text-decoration: none;
}

.post-card-content {
  padding: .5rem;
  margin: .5rem;
  background-color: #fff;
}

.post-card-title {
  padding: .5rem 1rem .5rem .5rem;
  height: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  overflow: hidden;
}

.post-card-part-of-content-container {
  padding: .5rem;
  height: 72px;
}

/* ref: https://qiita.com/BYODKM/items/83442749a985cb81448e */
.post-card-part-of-content {
  font-size: 1rem;
  word-break: break-word;
  line-height: 1.5;
  height: 4.5em;
  background-color: #fff;
  position: relative;
  padding-right: 1em;
  overflow: hidden;
}

.post-card-part-of-content:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 1em;
}

.post-card-part-of-content:after {
  content: "";
  position: relative;
  right: -1em;
  float: right;
  width: 1em;
  height: 100%;
  background-color: inherit;
}

.post-card-category {
  padding: .25rem .5rem;
  height: 1.5rem;
  overflow: hidden;
}

.post-card-tags {
  padding: .25rem .5rem;
  height: 1.5rem;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.post-card-tags::-webkit-scrollbar {
  display: none;
}

.post-card-created-at {
  padding: 0 .5rem;
  font-size: .7rem;
  color: #aaa;
}

#public-page-footer #page-navigator {
  float: left;
}

#public-page-footer {
  margin: .5rem;
  padding-bottom: 2rem;
}

#public-page-footer .pure-button {
  background-color: #222222;
  color: #fff;
}

/* --------------------------
* Post Detail
* --------------------------
*/

#post-content-header {
  margin-top: .5rem;
  margin-bottom: 2rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid #f1f1f1;
}

#post-content-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  word-break: break-all;
}

#post-content-header-date {
  display: flex;
  flex-wrap: wrap;
  margin-top: .4rem;
  font-size: .75rem;
}

#post-content-header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

#post-content-header-post-attribute {
  margin-right: 2rem;
  line-height: 2.4;
}

#post-content-header-post-attribute a {
  text-decoration: none;
}

.post-content-header-text {
  margin-right: 1rem;
  margin-left: 0px;
  line-height: 1.9;
}

#post-content-border {
  margin-top: .25rem;
  margin-bottom: 2rem;
  border-top: 1px solid #ddd;
}

#post-content-body {
  padding-bottom: 5rem;
  line-height: 2.0;
  text-align: left;
  font-size: .9rem;
}

#post-content-body h1 {
  margin-top: 3.5rem;
  margin-bottom: 1.25rem;
  padding-bottom: .2rem;
  font-weight: bold;
  font-size: 1.4rem;
  border-bottom: 1px solid #f1f1f1;
}

#post-content-body h2 {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  padding-bottom: .2rem;
  font-weight: 600;
  font-size: 1.3rem;
  border-bottom: 1px solid #f1f1f1;
}

#post-content-body h3 {
  margin-top: 48px;
  margin-bottom: .5rem;
  padding-bottom: .2rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #f1f1f1;
}

#post-content-body a {
  text-decoration: none;
  word-break: break-all;
  color: #337ab7;
}

/* --------------------------
* PC
* --------------------------
*/

@media screen and (min-width: 64em) {

  #post-content-header-date {
    display: flex;
  }
}

@media screen and (min-width: 48em) {

  html {
    font-size: 16px;
  }

  #content {
    left: 240px;
    z-index: 1;
  }

  #content #post-content {
    margin: 0 auto;
  }

  #menu {
    margin-left: 0;
  }

  #toggle-menu {
    display: none;
  }
}
