/* --------------------------
 * Common
 * --------------------------
*/

body {
  font-family: sans-serif;
  background-color: #f1f1f1;
}

#menu {
  background-color: #000022;
  color: white;
}

/* --------------------------
 * Error
 * --------------------------
*/

.field-error {
  color: #ff0000;
}

/* --------------------------
 * PC
 * --------------------------
*/
@media screen and (min-width: 48em) {

  #content {
    padding: 16px;
    margin-left: 160px;
  }

  #menu {
    width: 160px;
    position: fixed;
    top: 0;
    bottom: 0;
  }

  #menu-container {
    text-align: center;
  }

  #menu-title {
    margin-top: 16px;
    margin: 16px 0 16px;
    font-size: 36px;
  }

  #menu-item-newposts {
    margin-bottom: 16px;
    font-size: 24px;
    border-top: solid 1px;
    border-bottom: solid 1px;
  }

  #menu-item-container {
    font-size: 20px;
  }

  #menu-item-logout {
    position: absolute;
    bottom: 32px;
    width: 100%;
  }

  .menu-item {
    padding: 4px 0 4px;
  }

/*
  .menu-item-selected {
    background-color: red;
  }*/
}
