/* --------------------------
* Common
* --------------------------
*/

html {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #fbf9f8;
  height: 100%;
}

input[type=checkbox] {
  height: 16px;
  width: 16px;
}

ul {
  margin: 0px;
}

th {
  word-break: break-all;
}

tr {
  word-break: break-all;
}

ol {
  -webkit-padding-start: 1.5rem;
}

[v-cloak] {
  display: none;
}

.pure-form .pure-group li input {
  display: inline;
}

.pure-form .pure-group .pure-form-item-inline input  {
  display: inline;
}

.pure-menu-heading {
  text-transform: none;
}

.form-label {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.button-delete {
  color: white;
  background-color: #FF4000;
}

.category-link {
  font-size: .9rem;
  padding: .375rem;
  border-radius: .25rem;
  background-color: #0174DF;
  color: white;
}

.tag-link {
  font-size: .9rem;
  padding: .375rem;
  border-radius: .25rem;
  background: #DF7401;
  color: white;
}

.title-link {
  color: #222222;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

/* --------------------------
* Menu
* --------------------------
*/

#menu {
  background-color: #222222;
  color: white;
}

#menu {
  margin-left: -240px;
  width: 240px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 8px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

#menu::-webkit-scrollbar{
  display: none;
}

#menu.open-menu {
  margin-left: 0;
}

#menu a {
  text-decoration: none;
  color: #AAAAAA;
}

#menu a:hover {
  background-color: #333333;
}

#menu .pure-menu-heading {
  padding: 0.5em 0.8em;
  font-size: 125%;
  color: #fff;
}

#menu .pure-menu-selected a {
  background-color: #555555;
  color: #fff;
}

#menu-header-site-name {
  text-decoration: none;
  color: white;
}

#menu-header-site-name {
  font-size: 1.5rem;
  white-space: normal;
}

#menu-header-site-description {
  margin-top: .5rem;
  font-size: 0.9rem;
  white-space: normal;
}

#menu-subcontents {
  padding: .5em 1em;
}

#menu-subcontents .menu-subcontents-header {
  margin-bottom: .5rem;
  font-size: 1rem;
}

#menu-subcontents .menu-subcontents-item {
  margin: .125rem 0px;
  font-size: .8125rem;
}

/* --------------------------
* Toggle Menu
* --------------------------
*/

#toggle-menu {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #333333;
  cursor: pointer;
}

#toggle-menu-container {
  margin: .75rem auto;
}

#toggle-menu span {
  display: block;
  margin: .286rem auto;
  width: 70%;
  height: .143rem;
  background-color: #fff;
}

#toggle-menu.open-menu {
  left: 240px;
}

/* --------------------------
* Content
* --------------------------
*/

#content {
  position: relative;
  padding: 16px 32px 16px;
  margin-left: 0px;
  color: #222222;
}

#content-page-title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.75rem;
}

/* --------------------------
* Public
* --------------------------
*/

.post-card {
  position: relative;
}

.post-card-container a {
  text-decoration: none;
}

.post-card-content {
  padding: .5rem;
  margin: .5rem;
  background-color: #fff;
}

.post-card-title {
  padding: .5rem 1rem .5rem .5rem;
  height: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  overflow: hidden;
}

.post-card-part-of-content-container {
  padding: .5rem;
  height: 72px;
}

/* ref: https://qiita.com/BYODKM/items/83442749a985cb81448e */
.post-card-part-of-content {
  font-size: 1rem;
  word-break: break-word;
  line-height: 1.5;
  height: 4.5em;
  background-color: #fff;
  position: relative;
  padding-right: 1em;
  overflow: hidden;
}

.post-card-part-of-content:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 1em;
}

.post-card-part-of-content:after {
  content: "";
  position: relative;
  right: -1em;
  float: right;
  width: 1em;
  height: 100%;
  background-color: inherit;
}

.post-card-category {
  padding: .25rem .5rem;
  height: 1.5rem;
  overflow: hidden;
}

.post-card-tags {
  padding: .25rem .5rem;
  height: 1.5rem;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.post-card-tags::-webkit-scrollbar {
  display: none;
}

.post-card-created-at {
  padding: 0 .5rem;
  font-size: .7rem;
  color: #aaa;
}

#public-page-footer #page-navigator {
  float: left;
}

#public-page-footer {
  margin: .5rem;
  padding-bottom: 2rem;
}

#public-page-footer .pure-button {
  background-color: #222222;
  color: #fff;
}

#post-content-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

#post-content-header-date {
  margin-top: .4rem;
  margin-bottom: .4rem;
  font-size: .9rem;
  display: block;
}

#post-content-header-content {
  line-height: 2.4;
}

#post-content-header-content a {
  text-decoration: none;
}

.post-content-header-text {
  margin-right: 1rem;
  margin-left: 0px;
  line-height: 1.8;
}

#post-content-border {
  margin-top: .25rem;
  margin-bottom: 2rem;
  border-top: 1px solid #ddd;
}

#post-content-body {
  line-height: 1.8;
  text-align: left;
  font-size: .9rem;
}

#post-content-body h1 {
  margin-top: 3.5rem;
  margin-bottom: 1.25rem;
  padding-bottom: .625rem;
  font-weight: bold;
  font-size: 1.4rem;
  border-bottom: 1px solid #ddd;
}

#post-content-body h2 {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  padding-bottom: .625rem;
  font-weight: 600;
  font-size: 1.3rem;
  border-bottom: 1px solid #ddd;
}

#post-content-body h3 {
  margin-top: 48px;
  margin-bottom: 1.25rem;
  padding-bottom: .625rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #ddd;
}

#post-content-body a {
  text-decoration: none;
  word-break: break-all;
  color: #337ab7;
}


/* --------------------------
* Admin
* --------------------------
*/

#admin-page-title {
  margin-top: 2rem;
  font-size: 1.75rem;
}

#admin-table {
  margin-top: .5rem;
  width: 100%;
}

#admin-table a {
  text-decoration: none;
  color: #222222;
}

#admin-table-header {
  background-color: #222222;
  color: #fff;
}

#posts-table-head-checkbox {
  width: 5%;
}

#posts-table-head-user {
  width: 15%;
}

#posts-table-head-category {
  width: 20%;
}

#posts-table-head-update {
  width: 20%;
}

#tags-table-head-checkbox {
  width: 5%;
}

#tags-table-head-name {
  width: 80%;
}

#categories-table-head-checkbox {
  width: 5%;
}

#categories-table-head-name {
  width: 80%;
}

#admin-table-footer {
  margin: 1rem 0;
}

#admin-table-footer #admin-edit-button-container {
  float: left;
}

#admin-table-footer .pure-button {
  background-color: #222222;
  color: #fff;
}

#admin-table-footer #page-navigator {
  float: right;
}

#admin-category-container {
  padding: 0px;
}

#admin-tag-container {
  padding: 0px;
}

#admin-option-field-set {
  padding-bottom: 0px;
}

#image-file-data {
  display: none;
}

#admin-preview-image-container {
  margin-top: 0.5rem;
}

#admin-preview-image {
  max-width: 280px;
}

#admin-embedded-url {
  font-weight: bold;
}

#admin-content-input-header {
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#admin-content-preview {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #f1f1f1;
  overflow: scroll;
}

#admin-image-picker {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

#admin-image-picker-content {
  width: 80%;
  height: 80%;
  background-color: #f1f1f1;
  overflow: scroll;
}

#admin-image-picker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0;
}

#admin-image-picker-header .pure-button {
  margin-right: .25rem;
  background-color: #222222;
  color: #fff;
}

#admin-image-picker-title {
  font-size: 1.25rem;
  font-weight: bold;
}

#admin-image-picker-items {
  padding: .5rem 1rem 1rem;
}

#admin-content-preview #post-content-body {
  padding: 16px 32px 16px;
}

.admin-supplement-title {
  margin: .5rem 0px;
}

.admin-supplement-list-container {
  padding: 0px;
  height: 160px;
  overflow: auto;
  background-color: #fff;
  border: solid 1px #ddd;
}

.admin-supplement-list {
  list-style: none;
  padding: .5rem;
}

.admin-supplement-list .admin-supplement-category-item {
  margin: 2px 0px;
}

.admin-supplement-list .admin-supplement-category-item  input:first-child:last-child {
  top: 0px;
}

.admin-supplement-list .admin-supplement-tag-item {
  margin: 2px 0px;
}

.admin-supplement-tag-item {
  cursor: pointer;
}

.admin-supplement-tag-item:hover {
  background-color: #dddddd;
}

.admin-option-item {
  padding: 2px 0px;
}

.admin-form-group-title {
  margin-top: 16px;
  font-size: 24px;
}

.admin-content-overlay-close-button {
  position: fixed;
  top: 16px;
  right: 16px;
}

.admin-image-card-container {
  position: relative;
  width: 100%;
  padding-top: 100%
}

.admin-image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 4px;
  background-color: #fff;
  border: solid 2px #ddd;
}

.admin-image-card-img {
  max-width: 100%;
  max-height: 100%;
}

/* --------------------------
* Editor
* --------------------------
*/

#file-list {
  margin-bottom: 2rem;
}

#file-editor-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

#file-name {
  display: flex;
  margin-right: .5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

#file-name-container {
  display: flex;
  align-items: flex-end;
}

#file-save-button-container {
  display: flex;
  align-items: flex-end;
}

#file-save-button-container .button-delete {
  margin-left: .25rem;
}

#file-editor-container {
  padding: 0px .5rem;
}

#file-editor {
  height: 540px;
  margin-bottom: 1rem;
}

.file-list-group {
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: .25rem;
}

.file-list-item {
  font-size: .875rem;
  cursor: pointer;
}

.file-body-tab {
  font-size: .75rem;
  font-weight: bold;
  background-color: #ccc;
  cursor: pointer;
}

.file-body-tab-inner {
  margin: .25rem .75rem;
}

.file-body-tab.selected {
  background-color: #fff;
}

/* --------------------------
* Login
* --------------------------
*/

#login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#login-form {
  padding: 8px 16px 16px;
  width: 90%;
  background-color: white;
}


/* --------------------------
* Error
* --------------------------
*/

.field-error {
  color: #ff0000;
}

/* --------------------------
* PC
* --------------------------
*/

@media screen and (min-width: 64em) {

  #post-content-header-date {
    display: flex;
  }

  #file-editor {
    height: 780px;
    margin-bottom: 0px;
  }

  #file-list {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 48em) {

  html {
    font-size: 16px;
  }

  #content {
    margin-left: 240px;
  }

  #menu {
    margin-left: 0;
  }

  #admin-page-title {
    margin-top: 0;
  }

  #toggle-menu {
    display: none;
  }

  #login-form {
    width: 480px;
  }

  #admin-preview-image {
    max-width: 480px;
  }

  #admin-image-picker-content {
    width: 70%;
    height: 60%;
  }
}
