/* --------------------------
* Common
* --------------------------
*/

html {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #f1f1f1;
  height: 100%;
}

input[type=checkbox] {
  height: 16px;
  width: 16px;
}

ul {
  margin: 0px;
  -webkit-padding-start: 1rem;
}

th {
  word-break: break-all;
}

tr {
  word-break: break-all;
}

ol {
  -webkit-padding-start: 1.5rem;
}

[v-cloak] {
  display: none;
}

.form-label {
  font-size: .9rem;
  font-weight: bold;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.button-delete {
  color: white;
  background-color: #FF4000;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* --------------------------
* Pure Common
* --------------------------
*/

.pure-form .pure-group li input {
  display: inline;
}

.pure-form .pure-group .pure-form-item-inline input  {
  display: inline;
}

.pure-menu-link {
  font-size: .9rem;
  padding: .5rem 1rem;
}

.pure-menu-heading {
  text-transform: none;
}

.pure-button {
  padding: .25rem 1rem;
  font-size: .9rem;
}

.pure-g.gutters {
  margin: 0 -0.5rem;
}

.pure-g.gutters > [class *=pure-u] {
  box-sizing: border-box;
  padding: 0 .5rem;
}

/* --------------------------
* Menu
* --------------------------
*/

#menu {
  background-color: #222222;
  color: white;
}

#menu {
  margin-left: -240px;
  width: 240px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 8px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

#menu::-webkit-scrollbar {
  display: none;
}

#menu.open-menu {
  margin-left: 0;
}

#menu a {
  text-decoration: none;
  color: #AAAAAA;
}

#menu a:hover {
  background-color: #333333;
}

#menu .pure-menu-heading {
  padding: 0.5em 0.8em;
  font-size: 125%;
  color: #fff;
}

#menu .pure-menu-selected a {
  background-color: #555555;
  color: #fff;
}

#menu-header-site-name {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  white-space: normal;
}

.menu-section-border {
  border-top: solid 1px #333;
}

/* --------------------------
* Toggle Menu
* --------------------------
*/

#toggle-menu {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #333333;
  cursor: pointer;
  -webkit-overflow-scrolling: touch;
}

#toggle-menu-container {
  margin: .75rem auto;
}

#toggle-menu span {
  display: block;
  margin: .286rem auto;
  width: 70%;
  height: .143rem;
  background-color: #fff;
}

#toggle-menu.open-menu {
  left: 240px;
}

/* --------------------------
* Content
* --------------------------
*/

#content {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 16px 32px 16px;
  color: #222222;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* --------------------------
* Admin Common
* --------------------------
*/

#admin-page-title {
  margin-top: 2rem;
  font-size: 1.75rem;
}

#admin-table {
  font-size: .9rem;
  margin-top: .5rem;
  width: 100%;
}

#admin-table tbody tr {
  background-color: #fff;
}

#admin-table a {
  font-weight: bold;
  text-decoration: none;
  color: #222;
}

#admin-table-header {
  background-color: #222;
  color: #fff;
}

#admin-table-header th {
  font-weight: normal;
}

#posts-table-head-checkbox {
  width: 5%;
}

#posts-table-head-user {
  width: 15%;
}

#posts-table-head-category {
  width: 20%;
}

#posts-table-head-update {
  width: 20%;
}

#tags-table-head-checkbox {
  width: 5%;
}

#tags-table-head-name {
  width: 80%;
}

#categories-table-head-checkbox {
  width: 5%;
}

#categories-table-head-name {
  width: 80%;
}

#admin-table-footer {
  margin: 1rem 0;
}

#admin-table-footer #admin-edit-button-container {
  float: left;
}

#admin-table-footer .pure-button {
  background-color: #222222;
  color: #fff;
}

#admin-table-footer #page-navigator {
  float: right;
}

.posts-table-draft {
  color: #666;
}

/* --------------------------
* Admin Post Form
* --------------------------
*/

#admin-tag-text {
  margin-bottom: .25rem;
}

#admin-option-field-set {
  padding-bottom: 0px;
}

#admin-content-input-header {
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.admin-supplement-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 280px;
}

.admin-supplement-list-container {
  flex: 1;
  overflow-y: scroll;
  background-color: #fff;
  border: solid 1px #ddd;
}

.admin-supplement-list {
  list-style: none;
  padding: .5rem;
}

.admin-supplement-list .admin-supplement-category-item {
  margin: 2px 0px;
}

.admin-supplement-list .admin-supplement-category-item input:first-child:last-child {
  top: 0px;
  margin-right: .25rem;
}

.admin-supplement-list .admin-supplement-tag-item {
  margin: 2px 0px;
}

.admin-supplement-tag-item {
  cursor: pointer;
}

.admin-supplement-tag-item.selected {
  background-color: #f1f1f1;
}

.admin-supplement-tag-item:hover {
  background-color: #dddddd;
}

.admin-option-item {
  padding: 2px 0px;
}

/* --------------------------
* Admin Image Picker
* --------------------------
*/

#admin-image-picker {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

#admin-image-picker-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 80%;
  height: 80%;
  background-color: #fff;
  overflow: scroll;
}

#admin-image-picker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem 0;
}

#admin-image-picker-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem .5rem;
}

#admin-image-picker-header .pure-button, #admin-image-picker-footer .pure-button {
  margin-right: .25rem;
  background-color: #222222;
  color: #fff;
}

#admin-image-picker-title {
  font-size: 1.25rem;
  font-weight: bold;
}

#admin-image-picker-page {
  font-size: .9rem;
  font-weight: bold;
}

#admin-image-picker-items {
  padding: .5rem 1rem 1rem;
}

/* --------------------------
* Admin Image Form
* --------------------------
*/

#image-editor {
  margin-top: 1rem;
}

#admin-preview-image-container {
  position: relative;
  width: 100%;
  padding-top: 100%
}

#admin-preview-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #fff;
  border: solid 2px #ddd;
}

#admin-preview-image img {
  max-height: 100%;
  max-width: 100%;
}

#image-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#image-form-container .pure-form {
  width: 96%;
}

/* --------------------------
* Admin Image List
* --------------------------
*/

#image-file-data {
  display: none;
}

.admin-form-group-title {
  margin-top: 16px;
  font-size: 24px;
}

.admin-image-card-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  cursor: pointer;
}

.admin-image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 4px;
  background-color: #fff;
  border: solid 2px #ddd;
}

.admin-image-card-img {
  max-width: 100%;
  max-height: 100%;
}

/* --------------------------
* Editor
* --------------------------
*/

#theme-list {
  padding-bottom: 1rem;
  background-color: #fff;
}

#theme-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#theme-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: .25rem .5rem;
  height: 44px;
  background-color: #fff;
}

#theme-content {
  flex-grow: 1;
  margin: 0;
  height: 100%;
}

#file-list {
  padding-bottom: 1rem;
  background-color: #fff;
}

#file-editor-container-inner {
  padding: .5rem 0;
}

#file-editor-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: .5rem;
}

#file-name {
  margin-right: .5rem;
  font-size: 1.1rem;
}

#file-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#file-editor {
  height: 540px;
  margin-bottom: 1rem;
}

.theme-list-item {
  font-size: .9rem;
  padding: .5rem 1rem;
}

.theme-list-item.selected {
  background-color: #f7f7f7;
}

.theme-list-item-header {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 .25rem .75rem;
}

.selected-theme {
  font-size: 1.125rem;
  font-weight: bold;
  margin-left: .5rem;
}

.file-list-group {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 .25rem .75rem;
}

.file-list-item .pure-menu-link {
  font-size: .75rem;
  padding: .5rem 1rem;
}

.file-list-item.selected {
  background-color: #f7f7f7;
}

/* --------------------------
* Login
* --------------------------
*/

#login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#login-form {
  padding: 8px 16px 16px;
  width: 90%;
  background-color: white;
}


/* --------------------------
* Error
* --------------------------
*/

.field-error {
  color: #ff0000;
}

/* --------------------------
* PC
* --------------------------
*/

@media screen and (min-width: 64em) {

  #file-editor-app {
    height: 100%;
  }
  
  #theme-list {
    padding-bottom: 0;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  #theme-content {
    margin: 1rem 1rem 0 1rem;
  }

  #theme-header {
    margin: 0 1rem;
  }

  #file-list {
    padding-bottom: 0;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  #file-editor-container {
    height: 100%;
  }

  #file-editor-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 1rem;
    height: 100%;
  }

  #file-editor-header {
    flex-direction: row;
  }

  #file-name-container {
    flex-direction: row;
    align-items: center;
  }

  #file-editor {
    flex-grow: 1;
    margin-bottom: 0px;
    height: auto;
  }
}

@media screen and (min-width: 48em) {

  html {
    font-size: 16px;
  }

  #content {
    left: 240px;
    z-index: 1;
  }

  #menu {
    margin-left: 0;
  }

  #admin-page-title {
    margin-top: 0;
  }

  #toggle-menu {
    display: none;
  }

  #login-form {
    width: 480px;
  }
}
